.header_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #be5f7b;
  height: 70px;
}

.header_wrapper {
  margin: auto 1rem;
}


.header_link {
  color: #fee293;
}